@import "bootswatch/variables";
@import "bootstrap-4.4.1/scss/bootstrap";
@import "bootswatch/bootswatch";
@import "docfx";
@import "Railscasts/Railscasts";
@import "social";

main{
    padding-top:20px;
    max-width:960px;
    margin:auto;
}

.postimage {
    max-height: 300px;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom:10px
}

.card-img-top {
    overflow: hidden;
    max-height: 200px;
    object-fit: cover;
}
.center
{
    margin:auto;
    display:block;
}
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}