@*@page "/"*@
@page "/{**path}"
@namespace EngstromJimmySe.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jimmy Engström</title>
    <base href="~/" />
    <link href="css/stylesheet.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/bd6a8b61d3.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#DF691A">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#DF691A">

    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>Engstromjimmy.se</title>
    <!-- Search Engine -->
    <meta name="description" content="Jimmy´s blog">
    <meta name="image" content="http://engstromjimmy.se/images/jimmy,png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Engstromjimmy.se">
    <meta itemprop="description" content="Jimmy´s blog">
    <meta itemprop="image" content="http://engstromjimmy.se/images/jimmy,png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Engstromjimmy.se">
    <meta name="twitter:description" content="Jimmy´s blog">
    <meta name="twitter:site" content="@@Engstromjimmy">
    <meta name="twitter:creator" content="@@Engstromjimmy">
    <meta name="twitter:image:src" content="http://engstromjimmy.se/images/jimmy,png">
    <!-- Twitter - Article -->
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    @*<meta name="og:title" content="Engstromjimmy.se">
    <meta name="og:description" content="Jimmy´s blog">
    <meta name="og:image" content="http://engstromjimmy.se/images/jimmy,png">
    <meta name="og:url" content="http://engstromjimmy.se">
    <meta name="og:site_name" content="engstromjimmy.se">
    <meta name="og:type" content="article">*@
    <!-- Open Graph - Article -->
    @*<meta name="article:section" content="Technology">
    <meta name="article:published_time" content="2020-03-15">
    <meta name="article:author" content="Jimmy Engström">
    <meta name="article:tag" content="Blazor">
    <meta name="article:expiration_time" content="2020-03-15">
    <meta name="article:modified_time" content="2020-03-15">*@


</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>
        window.InitHighlight = () => {
            hljs.initHighlighting.called = false;
            hljs.initHighlighting();
        }

    </script>
    <script>
        // Wait until a 'reload' button appears
        new MutationObserver((mutations, observer) => {
            if (document.querySelector('#components-reconnect-modal h5 a')) {
                // Now every 10 seconds, see if the server appears to be back, and if so, reload
                async function attemptReload() {
                    await fetch(''); // Check the server really is back
                    location.reload();
                }
                observer.disconnect();
                attemptReload();
                setInterval(attemptReload, 10000);
            }
        }).observe(document.body, { childList: true, subtree: true });
    </script>
</body>
</html>
